<h1>TEST TEST TEST</h1>
<table>
  <tbody>
    <tr>
      <td>{{countryDetail.countryName}}</td>
    </tr>
    <tr>
      <td>{{countryDetail.countryCode}}</td>
    </tr>
    <tr>
      <td>{{countryDetail.capital}}</td>
    </tr>
    <tr>
      <td>{{countryDetail.areaInSqKm | number}}</td>
    </tr>
    <tr>
      <td>{{countryDetail.population | number}}</td>
    </tr>
    <tr>
      <td>{{countryDetail.continentName}}</td>
    </tr>
  </tbody>
</table>
<a href="#/countries">GO BACK</a>
<a href="#/home">GO HOME</a>
