<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country Code</th>
      <th>Capital</th>
      <th>Area in km2</th>
      <th>Population</th>
      <th>Continent</th>
    </tr>
  </thead>
  <tbody ng-repeat="country in countries">
    <tr>
      <td><span ng-click="countryDetail(country)">{{country.countryName}}</span></td>
      <td>{{country.countryCode}}</td>
      <td>{{country.capital}}</td>
      <td>{{country.areaInSqKm | number}}</td>
      <td>{{country.population | number}}</td>
      <td>{{country.continentName}}</td>
    </tr>
  </tbody>
</table>
